//- includes/foot.jade
#footer
	h2 My added foter!
	p Copyright (c) foobar

// build:js scripts/vendor.js 
// bower:js 
// endbower 
// endbuild 

// build:js scripts/main.js 
script(src='/js/main.js')
// endbuild 